<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="fr"><!--<![endif]-->
					 <head data-hook="inside_head">
					   <%= render :partial => 'spree/shared/head' %>
</head>

<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
  <%= render :partial => 'shared/facebook' %>
  <div class="container">

    <header id="header" class="row" data-hook>

      <a href="<%= root_path %>" title="Acceuil">
	<figure id="logo" class="columns alpha seven" data-hook>
	  <%= image_tag 'logo-450.png', :alt => 'Beliview logo', :width => '210' %>
	</figure> 
      </a>
      
      
      <nav id="top-nav-bar" class="columns omega twelwe">
        <ul id="nav-bar" class="inline" data-hook>
          <%= render :partial => 'spree/shared/nav_bar' %>
        </ul>
      </nav>

      <% if store_menu? %>
        <nav class="columns  omega sixteen">
          <ul id="main-nav-bar" class="inline" data-hook>	    
	    <li id="accueil" title="Accueil">
	      <a href="/" title="BeliView - Acceuil">Accueil</a>
	    </li>
	    |
	    <li id="lunettes">
	      <a href="/products" title="BeliView - Toutes les Lunettes">Lunettes</a>
	    </li>
	    |
	    <!-- <li id="opticians"> -->
	    <!--   <a href="/opticiens" title="Beliview - Nos Opticiens">Nos Opticiens</a> -->
	    <!-- </li> -->
	    <!-- | -->
	    <li id="blog">
	      <a href="http://blog.beliview.fr" title="Beliview - Blog">Tendances</a>
	    <!-- </li> -->
	    <!-- | -->
	    <!-- <li id="help"> -->
	    <!--   <a href="/aide" title="Beliview - Aide">Aide</a> -->
	    <!-- </li> -->
	    |
	    <li id="help">
	      <a href="/concours" title="Beliview - Concours">Concours de beauté Beliview</a>
	    </li>
	    <li id="link-to-cart">
	      <%= link_to_cart %>
	    </li>
	    
            <%#= render :partial => 'spree/shared/store_menu' %>
	    <%#= render_navigation %>
          </ul>
        </nav>
      <% end %>
      
    </header>

    <div id="wrapper" class="row" data-hook>

      
      <% if content_for?(:sidebar) %>
        <aside id="sidebar" class="columns alpha four" data-hook>
          <%= yield :sidebar %>
        </aside>
      <% end %>

      <div id="content" <% if !defined?(@layout_override) %> class="columns omega <% if !content_for?(:sidebar) %> sixteen alpha <% else %> twelve <% end %>" <% end %>data-hook>
        <%= breadcrumbs(@taxon) %>
        <%= flash_messages %>
        <%= yield %>
      </div>

    </div>


    <div class="container container-footer">
      <footer id="footer" class="columns omega twelwe" data-hook>
	<div id="footer-intern">	  
	  <ul>
	    
	    <center>
	      
	    <li>
	      <a href="/mentions" title="Mentions légales">
		Mention légales |
	      </a>
	    </li>

	    <li>
	      <a href="/contact" title="Contact">
		Contact |
	      </a>
	    </li>

	    <li>
	      <a href="/conditions-generales" title="Conditions générales de vente">
		Conditions générales de ventes |
	      </a>
	    </li>

	    <li>
	      <a href="/a-propos" title="À propos">
		À propos
	      </a>
	    </li>

	    </center>
	    




	  </ul>
	</div>
      </footer>
    </div>


  </div>
  
  <div class="container" style="background-color : transparent; color : white;">
    <footer id="footer" class="columns omega twelwe" data-hook>


      <div class="columns eight omega alpha">
	 <%= image_tag 'trust/fashionvogue.png', :height => '90' %>
      </div>

      <div class="columns eight omega alpha">
	<div class="trust-logo">
	  <%= image_tag 'trust/american-express-curved-32px.png' %>
	  <%= image_tag 'trust/cirrus-curved-32px.png' %>
	  <%= image_tag 'trust/maestro-curved-32px.png' %>
	  <%= image_tag 'trust/mastercard-curved-32px.png' %>
	  <%= image_tag 'trust/paypal-curved-32px.png' %>
	  <%= image_tag 'trust/visa-electron-curved-32px.png' %>
	  <%= image_tag 'trust/western-union-curved-32px.png' %>
	  <%= image_tag 'trust/norton_seal.gif', :height => '32' %>
	</div>
      </div>

      <div class="columns sixteen omega alpha">
	Les droits sur les images, et plus particulièrement le logo sont en license fermées et n'ont pas lieu d'être réutilisé en dehors du cadre fixé. Le site est entièrement en license fermée et ne peut faire l'office d'une quelconque copie sous peine de poursuites judiciaire. Les méthodes utilisées au sein de ce site (social media strategy, présentation de produit et tous élèments s'y rapprochant) ne peuvent en aucun cas être plagié. L'équipe vous remercie pour votre compréhension.<br/> ©Beliview 2012
	</div>
    </footer>
  </div>


  <%= render :partial => 'spree/shared/google_analytics' %>



  <% if Rails.env == 'production' %>
<!-- begin olark code --><script data-cfasync="false" type='text/javascript'>/*{literal}<![CDATA[*/
window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('1340-611-10-4609');/*]]>{/literal}*/</script>
<!-- end olark code -->
  <% else %>
    <script>
      var _gaq = _gaq || [];
    </script>
  <% end %>

  <%= yield :javascripts %>

</body>

</html>
