<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="fr"><!--<![endif]-->
					 <head data-hook="inside_head">
					   <%= render :partial => 'spree/shared/head' %>
</head>

<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
  <div class="container">

    <header id="header" class="row" data-hook>

      <a href="<%= root_path %>" title="Acceuil">
	<figure id="logo" class="columns alpha seven" data-hook>
	  <%= image_tag 'logo-450.png', :alt => 'Beliview logo', :width => '210' %>
	</figure>	

	<!-- <g:plusone size="tall"></g:plusone> -->
	
      </a>
      
      
      <nav id="top-nav-bar" class="columns omega twelwe">
        <ul id="nav-bar" class="inline" data-hook>
          <%= render :partial => 'spree/shared/nav_bar' %>
        </ul>
      </nav>

      <% if store_menu? %>
        <nav class="columns  omega sixteen">
          <ul id="main-nav-bar" class="inline" data-hook>	    
	    <li id="accueil" title="Accueil">
	      <a href="/" title="BeliView - Acceuil">Accueil</a>
	    </li>
	    |
	    <li id="lunettes">
	      <a href="/t/univers/all" title="BeliView - Toutes les Lunettes">Toutes les Lunettes</a>
	    </li>
	    |
	    <!-- <li id="opticians"> -->
	    <!--   <a href="/opticiens" title="Beliview - Nos Opticiens">Nos Opticiens</a> -->
	    <!-- </li> -->
	    <!-- | -->
	    <li id="blog">
	      <a href="http://blog.beliview.fr" title="Beliview - Blog">Fil de Tendances</a>
	      <!-- </li> -->
	      <!-- | -->
	      <!-- <li id="help"> -->
	      <!--   <a href="/aide" title="Beliview - Aide">Aide</a> -->
	      <!-- </li> -->
	      |
	    <li id="help">
	      <a href="/concours" title="Beliview - Concours">Concours de beauté Beliview</a>
	    </li>
	    <li id="link-to-cart">
	      <%= link_to_cart %>
	    </li>
          </ul>
        </nav>
      <% end %>
      
    </header>

    <div id="wrapper" class="row" data-hook>

      
      <% if content_for?(:sidebar) %>
        <aside id="sidebar" class="columns alpha four" data-hook>
          <%= yield :sidebar %>
        </aside>
      <% end %>

      <div id="content" <% if !defined?(@layout_override) %> class="columns omega <% if !content_for?(:sidebar) %> sixteen alpha <% else %> twelve <% end %>" <% end %>data-hook>
        <%= breadcrumbs(@taxon) %>
        <%= flash_messages %>
        <%= yield %>
      </div>

    </div>


    <div class="container container-footer">
      <footer id="footer" class="columns omega twelwe" data-hook>
	<div id="footer-intern">	  
	  <ul>
	    
	    <center>

	    <li>	     
	      <a href="/ecart-pupillaire" title="Mentions légales">
		Mesurez vos Écarts Pupillaire |
	      </a>
	    </li>
	      

	      <li>
		<a href="/mentions" title="Mentions légales">
		  Mention légales |
		</a>
	      </li>

	      <li>
		<a href="/contact" title="Contact">
		  Contact |
		</a>
	      </li>

	      <li>
		<a href="/conditions-generales" title="Conditions générales de vente">
		  Conditions générales de ventes |
		</a>
	      </li>

	      <li>
		<a href="/a-propos" title="À propos">
		  À propos
		</a>
	      </li>


	    </center>
	    
	  </ul>
	</div>
      </footer>
    </div>


  </div>
  
  <div class="container" style="background-color : transparent; color : white;">
    <footer id="footer" class="columns omega twelwe" data-hook>

      
      <div class="row">
	<div class="columns eight alpha">
	  <%= image_tag 'trust/fashionvogue.png', :height => '90' %>
	</div>
	
	<div class="columns eight omega">
	  <div class="trust-logo">
	    <%= image_tag 'trust/setcard.png' %>
	  </div>
	</div>
      </div>

      <div class="row" style="margin-left : 10px;">
	
	<div class="columns sixteen omega alpha">
	  <br/>
	  Les droits sur les images, et plus particulièrement le logo sont en license fermées et n'ont pas lieu d'être réutilisé en dehors du cadre fixé. Le site est entièrement en license fermée et ne peut faire l'office d'une quelconque copie sous peine de poursuites judiciaire. Les méthodes utilisées au sein de ce site (social media strategy, présentation de produit et tous élèments s'y rapprochant) ne peuvent en aucun cas être plagié. L'équipe vous remercie pour votre compréhension.<br/> ©Beliview 2012
	</div>
      </div>
    </footer>
  </div>
  
  
  <%= render :partial => 'spree/shared/common_javascripts' %>
  

</body>

</html>
