<%# Fast Administration system %>
<% if current_user and current_user.has_role? :admin %>
  <div class="mini-admin" data-id="<%= product.id %>">
    <h4>Admin - <%= product.name.truncate(25) %></h4>
    <div id="delete-db">
      X Delete from DB		
    </div>
    <div id="change-universe">
      Universes<br/>

      <% prod_tax = product.taxons %>
      
      
      <%= universe(prod_tax, 'Baba', 'baba') %>
      <%= universe(prod_tax, 'Fashion Girl', 'fashion') %>
      <%= universe(prod_tax, 'Student Style', 'student') %>
      <%= universe(prod_tax, 'Trendy', 'trendy') %>
      <%= universe(prod_tax, 'Working Girl', 'working') %>
      <%= universe(prod_tax, 'Bonnes affaires', 'bonnes-affaires') %>

    </div>


  </div>
<% end %>
