
<% @layout_override = true %>

<div class="columns omeage sixteen alpha">
  <h2 id="top-slider-title">Choisissez le style qui vous correspond le mieux</h2>
  <div class="slider-trends">

    <a href="/t/univers/baba" title="Univers Baba">
      <span class="univers">
	<%= image_tag 'slider/univerbaba-200.png', :title => 'Univers Baba', :id => 'people' %>
	<div id="mask" style="background-color : rgba(215,182,208,0.95)">
	  <div id="content">
	    <h3>Baba</h3>
	    <p>
	      Vous êtes plutôt femme décontractée mais vous faites attention à vous.	   
	    </p>

	    <div style="position:relative;">
	      <div style="position : absolute; top : -27px; left : 98px; width : 47px; overflow : hidden;" class="fb-like" data-href="https://www.facebook.com/BeliviewBaba" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	    </div>


	    
	    <%= render :partial => 'spree/shared/mini_glasse', :locals => { :product => get_glasses_on_env('Baba') } %>

	  </div>
	</div>
      </span>
    </a>

    <a href="/t/univers/fashion-girl" title="Univers Fashion Girl">
      <span class="univers">
	<%= image_tag 'slider/universfashion-200.png', :title => 'Univers Fashion', :id => 'people' %>
	<div id="mask" style="background-color : rgba(244,207,151, 0.95)">
	  <div id="content">
	    <h3>Fashion Girl</h3>
	    <p>
	      On peut vous définir par <i>"La mode se démode, le style jamais."</i>
	    </p>

	    <div style="position:relative;">
	      <div style="position : absolute; top : -27px; left : 98px; width : 47px; overflow : hidden;" class="fb-like" data-href="https://www.facebook.com/pages/Beliview-Fashion/353244918062086" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	    </div>
	    
	    <%= render :partial => 'spree/shared/mini_glasse', :locals => { :product => get_glasses_on_env('Fashion Girl') } %>
	    
	  </div>
	</div>
      </span>
    </a>
    
    <a href="/t/univers/student-style" title="Univers Student Style">
      <span class="univers">
	<%= image_tag 'slider/universetudiante-200.png', :title => 'Univers Étudiante', :id => 'people' %>
	<div id="mask" style="background-color : rgba(161,160,160, 0.95)">
	  <div id="content">
	    <h3>Student Style</h3>
	    <p>
	      Vous incarnez le parfait équilibre entre l'intellect et le style.
	    </p>

	    <div style="position:relative;">
	      <div style="z-index : 99999; position : absolute; top : -27px; left : 98px; width : 47px; overflow : hidden;" class="fb-like" data-href="https://www.facebook.com/pages/Beliview-Student-Style/134439960024409" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	    </div>

	    
	    <%= render :partial => 'spree/shared/mini_glasse', :locals => { :product => get_glasses_on_env('Student Style') } %>
	    
	  </div>
	</div>
      </span>
    </a>
    

    <a href="/t/univers/trendy" title="Univers Trendy">
      <span class="univers">
	<%= image_tag 'slider/universtrendy-200.png', :title => 'Univers Trendy', :id => 'people' %>
	<div id="mask" style="background-color : rgba(245,207,215, 0.95)">
	  <div id="content">
	    <h3>Trendy</h3>
	    <p>
	      Vous avez le dernier sac de la marque <i>Chloé</i> de cette saison.	   
	    </p>

	    <div style="position:relative;">
	      <div style="position : absolute; top : -27px; left : 98px; width : 47px; overflow : hidden;" class="fb-like" data-href="https://www.facebook.com/pages/Beliview-Trendy/240893746016033" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	    </div>

	    <%= render :partial => 'spree/shared/mini_glasse', :locals => { :product => get_glasses_on_env('Trendy') } %>

	  </div>
	</div>
      </span>
    </a>

    <a href="/t/univers/working-girl" title="Univers Working Girl">
      <span class="univers">
	<%= image_tag 'slider/universworking-200.png', :title => 'Univers Working Girl', :id => 'people' %>
	<div id="mask" style="background-color : rgba(200,225,222,0.95)">
	  <div id="content">
	    <h3>Working Girl</h3>
	    <p>
	      Le bureau, aussi, est un lieu de defilé de mode.
	    </p>

	    <div style="position:relative;">
	      <div style="position : absolute; top : -27px; left : 98px; width : 47px; overflow : hidden;" class="fb-like" data-href="https://www.facebook.com/pages/Beliview-Working-Girl/236741706426570" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	    </div>

	    <%= render :partial => 'spree/shared/mini_glasse', :locals => { :product => get_glasses_on_env('Working Girl') } %>

	  </div>
	</div>
      </span>
    </a>
    
  </div>
</div>


<div class="columns omega sixteen alpha avantages">
  <div class="uniav">
    <p style="margin-top: 28px;">Nous vous proposons les prix les plus bas du marché</p>
    <%= image_tag 'avantages/economique.png', :title => 'Economique Beliview' %>
  </div>

  <div class="uniav">
    <p style="margin-top: 28px;">Essayez gratuitement plusieurs paires à domicile</p>
    <%= image_tag 'avantages/essais.png', :title => 'Essais Beliview' %>
  </div>

  <div class="uniav">
    <p>Si vous n'êtes pas satisfaites nous vous rembourserons en intégralité</p>
    <%= image_tag 'avantages/satisfaite.png', :title => 'Satisfaction Beliview' %>
  </div>

  <div class="uniav">
    <p>Nos opticiens sont à votre écoute pour répondre à vos questions</p>
    <%= image_tag 'avantages/opticien.png', :title => 'Communaute Beliview' %>
  </div>

  <div class="uniav">
    <p>Accordez vos lunettes à votre style grâce aux <b>conseils de nos stylistes</b></p>
    <%= image_tag 'avantages/communaute.png', :title => 'Communaute Beliview' %>
  </div>
</div>


<!-- <div class="columns omega sixteen alpha concours-miss"> -->
<!--   asdasdasdasdasd -->

<!-- </div> -->

<div class="row">
  <div class="columns eight alpha mid-block tendances-block">
    <%= image_tag 'hometendances.png' %>
    <div id="mask">
      <div id="content">
	<h3>Conseils de nos stylistes</h3>
	<p>
	  Recevez tous les mois des conseils de stylistes reconnus gratuitement !

	  <%= form_for :newsletter, :url => '/newsletters/create' do |f| %>
	  <%= f.email_field :mail, :placeholder => 'Ici votre mail' %>
	  <%= f.submit "Je m'inscris" %>
<% end %>
	</p>
      </div>
    </div>    
  </div>
  
  <div class="columns eight omega mid-block opticians-block">
    <%= image_tag 'homeopticien.png' %>
    <div id="mask">
      <div id="content">
	<h3>Nos Opticiens</h3>
	<p>Nos opticiens dîplomés sont à votre service pour toutes vos questions. Ils vous aideront à affiner au plus votre vue.</p>
      </div>
    </div>    
  </div>

</div>


<div class="list-home-prod">
  <hr/>
  <h2>Les lunettes accessoires</h2>
  <%= render :partial => 'products_listing_home', :locals => {:products => @products } %>
  <div id="voir-tout">
   <a href="/t/univers/all" title="BeliView - Toutes les Lunettes">Découvrez toute la gamme de lunette !</a>
  </div>
</div>
  
